body {
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container2 {
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: none;
  gap: 150px;
}

.choice {
  border: 1px black solid;
  border-radius: 10px;
  margin-bottom: 5px;
  width: 500px;
  height: 25px;
  text-align: center;
  background: rgb(97, 99, 90);
  color: white;
}

.parent {
  text-align: center;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stripes {
  padding-block: var(--gutter);
  --stripe: hsl(0, 0%, 88%);
  background-image: repeating-linear-gradient(
    -45deg,
    var(--stripe),
    var(--stripe) 2px,
    transparent 2px,
    transparent 8px
  );
  height: 200px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

h1.stripes {
  text-align: center;
}

layout-section {
  display: block;
  margin-inline: auto;
  padding-inline: var(--gutter);
  --flow-space: var(--space4);
}

.test {
  /* background-color: white; */
  display: inline;
  background: var(--bg, white);
  padding: 0.25rem 0.5rem;
  line-height: 1.4;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.highlight > * {
  display: inline;
  background: var(--bg, white);
  padding: 0.25rem 0.5rem;
  line-height: 1.4;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

footer {
  border-top: 1px black solid;
  width: 100%;
  height: 123px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 1;
  background-color: #ffe500;
}

button {
  text-transform: uppercase;
}

.circle,
.circle2 {
  height: 250px;
  width: 250px;
  border: 1px black solid;
  border-radius: 50%;
}

/* .circle:before, */
.cirlce2:before {
  content: "";
  height: 80%;
  width: 80%;
  background-color: black;
  position: absolute;
  border-radius: 50%;
}

.multipleChoices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 500px;
  /* border: 1px black solid; */
  row-gap: 100px;
}

.questions {
  margin-top: 0;
}

.choice {
  border: 1px black solid;
  border-radius: 10px;
  margin-bottom: 5px;
  width: 500px;
  height: 25px;
  text-align: center;
  background: rgb(97, 99, 90);
  color: white;
}
.choice:hover {
  transform: scale(1.1);
  background: rgb(47, 49, 40);
}

.parentChoices {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.progress-box {
  height: 30px;
  width: 30px;
  background-color: rgb(116, 18, 18);
  margin-left: 15px;
}

.progress-container {
  display: flex;
  flex-direction: row;
}